//-------------------------------------------------
// Break Points
//-------------------------------------------------

@mixin break-min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin break-min-max($min, $max) {
  @media screen and (min-width: $min) and (max-width: ($max - 1px)) {
    @content;
  }
}

@mixin break-max($breakpoint) {
  @media screen and (max-width: ($breakpoint - 1px)) {
    @content;
  }
}

//-------------------------------------------------
// Spacer
//-------------------------------------------------

@mixin spacer_top {
  margin-top: $spacer-small;

  @include break-min($sm) {
    margin-top: 50px;
  }

  @include break-min($md) {
    margin-top: $spacer-large;
  }
}

@mixin spacer_bottom {
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-bottom: 50px;
  }

  @include break-min($md) {
    margin-bottom: $spacer-large;
  }
}

@mixin spacer {
  @include spacer_top;
  @include spacer_bottom;
}

@mixin spacer_xlarge {
  margin-top: $spacer-small;
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include break-min($md) {
    margin-top: $spacer-xlarge;
    margin-bottom: $spacer-xlarge;
  }
}

@mixin spacer_small {
  margin-top: $spacer-small;
  margin-bottom: $spacer-small;

  @include break-min($sm) {
    margin-top: $spacer-medium;
    margin-bottom: $spacer-medium;
  }

  @include break-min($md) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}

@mixin spacer_body {
  padding-top: $spacer-small;
  padding-bottom: $spacer-small;

  @include break-min($sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include break-min($md) {
    padding-top: $spacer-large;
    padding-bottom: $spacer-large;
  }
}

@mixin spacer_body_small {
  padding-top: $spacer-small;
  padding-bottom: $spacer-small;

  @include break-min($sm) {
    padding-top: $spacer-medium;
    padding-bottom: $spacer-medium;
  }

  @include break-min($md) {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

//-------------------------------------------------
// Inner
//-------------------------------------------------

@mixin inner {
  @include inner_padding;
  max-width: $global-inner + ($gutter * 2);
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@mixin inner_padding {
  padding-right: $grid-gap;
  padding-left: $grid-gap;

  @include break-min($xs) {
    padding-right: $grid-gap * 2;
    padding-left: $grid-gap * 2;
  }

  @include break-min($lg) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}

//-------------------------------------------------
// Typography
//-------------------------------------------------

@mixin heading {
  font-family: $font-heading;
  letter-spacing: 0.125rem; // 2px
  text-transform: uppercase;
}

@mixin heading_with_margin {
  @include heading;
  margin-bottom: $item-padding-small;

  @include break-min($sm) {
    margin-bottom: $item-padding;
  }
}

@mixin font_heading-1 {
  font-size: 40px;
  line-height: 46px;

  @include break-min($sm) {
    font-size: 55px;
    line-height: 75px;
  }

  @include break-min($md) {
    font-size: 70px;
    line-height: 86px;
  }
}

@mixin font_heading-2 {
  font-size: 30px;
  line-height: 38px;

  @include break-min($sm) {
    font-size: 35px;
    line-height: 42px;
  }

  @include break-min($md) {
    font-size: 50px;
    line-height: 61px;
  }
}

@mixin font_heading-3 {
  font-size: 25px;
  line-height: 30px;

  @include break-min($sm) {
    font-size: 25px;
    line-height: 30px;
  }

  @include break-min($md) {
    font-size: 30px;
    line-height: 36px;
  }
}

@mixin font_title-1 {
  font-size: 22px;
  line-height: 25px;

  @include break-min($sm) {
    font-size: 25px;
    line-height: 35px;
  }

  @include break-min($md) {
    font-size: 25px;
    line-height: 35px;
  }
}

@mixin font_title-2 {
  font-size: 18px;
  line-height: 24px;

  @include break-min($sm) {
    font-size: 18px;
    line-height: 24px;
  }

  @include break-min($md) {
    font-size: 20px;
    line-height: 24px;
  }
}

@mixin font_sub-title {
  font-size: 14px;
  font-weight: $fw-bold;
  line-height: 25px;
  text-transform: uppercase;
}

@mixin font_copy-text-1 {
  font-size: 16px;
  line-height: 19px;
}

@mixin font_copy-text-2 {
  font-size: 18px;
  line-height: 26px;

  @include break-min($sm) {
    font-size: 20px;
    line-height: 28px;
  }

  @include break-min($md) {
    font-size: 22px;
    line-height: 35px;
  }
}

@mixin font_caption_text {
  font-size: 16px;
  font-style: italic;
  line-height: 19px;
}

@mixin font_base_text {
  font-size: $font-base-size;
  line-height: $font-base-line-height;
}

@mixin font_small_text {
  font-size: smaller;
}

@mixin paragraph {
  @include font_base_text;
  color: inherit;
  margin-bottom: $item-padding-small;
}

//-------------------------------------------------
// Animations
//-------------------------------------------------

@mixin underline_on_hover {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease, visibility .5s ease;
  }

  &:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

@mixin fade_in {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}

@mixin fade_in_left {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-30px);
}

@mixin fade_in_right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(30px);
}

@mixin faded_in {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

@mixin faded_in_transitions($quantity) {
  @for $i from 1 through $quantity {
    &:nth-child(#{$i}) {
      transition-delay: $i * 0.25s;
    }
  }
}

//-------------------------------------------------
// Buttons
//-------------------------------------------------

@mixin button_reset {
  appearance: none;
  background-color: transparent;
}

@mixin button {
  @include button_reset;
  border: 1px solid transparent; // 1px
  border-radius: 3px;
  cursor: pointer;
  font-family: $font-body;
  font-size: $font-base-size;
  font-weight: $fw-bold;
  line-height: 1;
  outline: 0;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;

  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    border-color 0.35s ease;

  @include break-min($sm) {
    font-size: 14px;
    padding: 16px 46px;
  }
}

@mixin button_wider {
  padding-right: 30px;
  padding-left: 30px;

}

@mixin button_primary {
  @include button;
  color: $color-secondary;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }
}

@mixin button_primary_light {
  @include button;
  color: #fff;
  background-color: $color-primary-light;
  border-color: $color-primary-light;

  &:hover {
    color: #fff;
    border-color: $color-primary;
    background-color: $color-primary;
  }
}

@mixin button_secondary {
  @include button;
  color: $color-primary;
  border-color: $color-primary;
  background-color: transparent;

  &:hover {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

@mixin button_filter {
  @include button;
  color: $color-secondary;
  border-color: $color-mid-grey;
  background-color: $color-mid-grey;

  &:hover {
    border-color: $color-secondary;
    background-color: transparent;
  }
}

@mixin button_ghost {
  @include button;
  color: #fff;
  border-color: #fff;
  background-color: rgba(0,0,0,0.3);

  &:hover {
    color: $color-primary;
    border-color: #fff;
    background-color: #fff;
  }
}

@mixin button_accent {
  @include button;

  color: $color-secondary;
  border-color: $color-accent;
  background-color: $color-accent;

  &:hover {
    color: $color-secondary;
    border-color: darken($color-accent, 20%);
    background-color: darken($color-accent, 20%);
  }
}

@mixin button_submit {
  @include button_primary;
  @include button_wider;
}

@mixin button_text {
  @include button_reset;
  text-decoration: none;
  text-transform: uppercase;

  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    border-color 0.35s ease;
}

@mixin button_arrow {
  @include button_text;
  @include font_sub-title;
  padding-right: 22px;
  position: relative;

  .icon-arrow {
    color: $color-primary;
    width: 16px;

    position: absolute;
    top: 3.2px;
    right: 0;

    transition: transform .3s ease;
    will-change: transform;
  }

  &:hover {
    .icon-arrow {
      transform: translateX(2px);
    }
  }
}

//-------------------------------------------------
// Listings
//-------------------------------------------------

@mixin listing_items_simple {
  @include structural_ul;
}

@mixin listing_item_simple {
  @include no_bullets;

  &:not(:last-child) {
    border-bottom: 1px solid $color-border;
    margin-bottom: $spacer-small;
    padding-bottom: $spacer-small;
  }
}

//-------------------------------------------------
// Sections
//-------------------------------------------------

@mixin section_header {
  text-align: center;
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 3};
  }
}

@mixin section_header_small {
  text-align: center;
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 1};
  }
}

@mixin section_header_large {
  text-align: center;
  margin-bottom: #{$grid-gap * 2};

  @include break-min($sm) {
    margin-bottom: #{$grid-gap * 5};
  }
}

@mixin section_title {
  @include h3;
  margin: 0;
}

//-------------------------------------------------
// Forms
//-------------------------------------------------

@mixin form_label {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 16px;

  display: block;
}

@mixin form_input {
  @include font_small_text;
  background-color: #363636;
  border: 1px solid $color-white;
  color: $color-white;
  font-family: $font-body;
  margin: 0;
  outline: none;
  padding: 10px;
  width: 100%;

  display: block;

  transition: color 0.3s ease;

  label & {
    margin-top: 0.375rem; // 6px
  }

  &::placeholder {
    color: $color-grey-text;
    font-family: $font-body;
    font-weight: 400;
  }
}

@mixin form_select {
  @include font_small_text;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid $color-secondary;
  max-width: 100%;
  font-family: $font-body;
  margin: 0;
  padding: 10px;
  border-radius: 3px;
  background-color: #fff;
  background-image: url("../img/icon-angle-down-secondary.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: auto 7px, 100%;
}
//-------------------------------------------------
// Utilities
//-------------------------------------------------

@mixin absolute_fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin no_margin_padding {
  margin: 0;
  padding: 0;
}

@mixin no_bullets {
  list-style: none;
}

@mixin structural_ul {
  @include no_margin_padding;
  list-style-type: none;
}

@mixin object_fit_cover {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

@mixin object_fit_contain {
  object-fit: contain;
  font-family: 'object-fit: contain;';
}

@mixin restrain_width {
  @include break-min($md) {
    max-width: $restrained-width;
    margin-right: auto;
    margin-left: auto;
  }
}

@mixin ignore_restrained_width {
  @include break-min($md) {
    margin-left: calc((-50vw + #{$restrained-width / 2}) + #{$gutter});
    margin-right: calc((-50vw + #{$restrained-width / 2}) + #{$gutter});
  }
}

@mixin ignore_restrained_width_and_gutters {
  margin-left: -#{$grid-gap};
  margin-right: -#{$grid-gap};

  @include break-min($md) {
    margin-left: calc(-100vw / 2 + #{$restrained-width / 2});
    margin-right: calc(-100vw / 2 + #{$restrained-width / 2});
  }
}

@mixin screen_reader_only {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
