/*--------------------------------------------------------------
BASE
--------------------------------------------------------------*/

body {
  @include font_base_text;
  background-color: $color-secondary;
  color: $color-body-font;
  font-family: $font-body;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.loaded {
    opacity: 1;
    visibility: visible;
  }

  &.utl-DrawerActive {
    overflow: hidden;

    &.utl-iOS {
      position: fixed;
    }
  }

  &.lyt-Body--modalActive {
    position: fixed;
    right: 0;
    left: 0;
  }
}

body,
button,
input,
select,
textarea {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

figcaption,
.wp-block-image figcaption {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 12px;
  color: $color-grey-text;
}

ol, ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

li {
  color: inherit;
  list-style: disc outside none;
}

.editor-block-list__layout,
.ent-Entry_Content,
.lyt-Sidebar {
  ul {
    margin-left: 0;

    li {
      list-style: none;
    }
  }
}

svg {
  display: block;
  max-width: 100%;
}

pre {
  white-space: inherit;
}

/*--------------------------------------------------------------
FORMS
--------------------------------------------------------------*/

label {
  @include form_label;
}

fieldset {
  margin-bottom: 1em;
}

input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea {
  @include form_input;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input[type="submit"] {
  @include button_submit;
}

select {
  @include form_select;
}

input[type="date"] {
  padding: 0.85em;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}

::-webkit-input-placeholder {
  color: lighten($color-body-font, 10%);
}
:-moz-placeholder {
  color: lighten($color-body-font, 10%);
}
::-moz-placeholder {
  color: lighten($color-body-font, 10%);
  opacity: 1;
}
:-ms-input-placeholder {
  color: lighten($color-body-font, 10%);
}

/*--------------------------------------------------------------
TABLES
--------------------------------------------------------------*/

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}

th {
  padding: 0.4em;
  text-align: left;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  thead & {
    border-bottom: 2px solid #bbb;
    padding-bottom: 0.5em;
  }
}

tr {
  border-bottom: 1px solid #eee;
}

td {
  padding: 0.4em;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

// Flickity

.lyt-Body .flickity-page-dots {
  bottom: 0;
}
